In [1]:
import sys
import pathlib
sys.path.append(str(pathlib.Path().resolve().parent))

In [2]:
from utils.data_loader import DataLoader

In [29]:
df = DataLoader.load_data("../data/BTCUSD_1hr.csv").drop(["Unix Timestamp", "Symbol"], axis=1).sort_index(ascending=True)
df

                        Open     High      Low    Close      Volume
Date
2015-10-08 13:00:00     0.00   245.00     0.00   245.00    0.606654
2015-10-08 14:00:00   245.00   245.00   244.50   245.00    4.453649
2015-10-08 15:00:00   245.00   245.00   244.92   244.92    3.016926
2015-10-08 16:00:00   244.92   244.92   244.25   244.25    3.895252
2015-10-08 17:00:00   244.25   244.99   244.02   244.99    3.920632
...                      ...      ...      ...      ...         ...
2020-04-08 20:00:00  7320.11  7375.72  7313.66  7327.70  153.655811
2020-04-08 21:00:00  7327.70  7370.00  7311.33  7337.19   35.551553
2020-04-08 22:00:00  7337.19  7390.25  7322.87  7367.28   88.486108
2020-04-08 23:00:00  7367.28  7398.92  7348.47  7369.60   66.558293
2020-04-09 00:00:00  7369.60  7369.60  7338.23  7338.23    7.788915

[39465 rows x 5 columns]

In [26]:
import numpy as np
df[df == 0] = np.nan
df = df.dropna()
df[df == 0]

                     Open  High  Low  Close  Volume
Date
2020-04-08 23:00:00   NaN   NaN  NaN    NaN     NaN
2020-04-08 22:00:00   NaN   NaN  NaN    NaN     NaN
2020-04-08 21:00:00   NaN   NaN  NaN    NaN     NaN
2020-04-08 20:00:00   NaN   NaN  NaN    NaN     NaN
2020-04-08 19:00:00   NaN   NaN  NaN    NaN     NaN
...                   ...   ...  ...    ...     ...
2015-10-13 11:00:00   NaN   NaN  NaN    NaN     NaN
2015-10-13 07:00:00   NaN   NaN  NaN    NaN     NaN
2015-10-12 13:00:00   NaN   NaN  NaN    NaN     NaN
2015-10-10 04:00:00   NaN   NaN  NaN    NaN     NaN
2015-10-09 20:00:00   NaN   NaN  NaN    NaN     NaN

[32565 rows x 5 columns]

In [28]:
df.describe()

               Open          High           Low         Close        Volume
count  32565.000000  32565.000000  32565.000000  32565.000000  32565.000000
mean    5284.092891   5315.918779   5249.738092   5284.266322    191.243703
std     3861.516904   3892.368497   3827.015353   3861.413581    321.651392
min      244.060000    245.510000    236.000000    245.450000     10.001565
25%     1197.130000   1199.680000   1193.500000   1197.130000     36.867692
50%     5290.000000   5316.170000   5258.380000   5290.260000     90.311730
75%     8109.150000   8149.770000   8065.880000   8109.560000    215.566786
max    19869.860000  19999.000000  19778.120000  19869.860000   8526.751048

In [23]:
df[df.loc[:, ["Open", "High", "Low", "Close"]] <= 10]

                    Unix Timestamp Symbol  Open  High  Low  Close  Volume
Date
2020-04-09 00:00:00            NaN    NaN   NaN   NaN  NaN    NaN     NaN
2020-04-08 23:00:00            NaN    NaN   NaN   NaN  NaN    NaN     NaN
2020-04-08 22:00:00            NaN    NaN   NaN   NaN  NaN    NaN     NaN
2020-04-08 21:00:00            NaN    NaN   NaN   NaN  NaN    NaN     NaN
2020-04-08 20:00:00            NaN    NaN   NaN   NaN  NaN    NaN     NaN
...                            ...    ...   ...   ...  ...    ...     ...
2015-10-08 17:00:00            NaN    NaN   NaN   NaN  NaN    NaN     NaN
2015-10-08 16:00:00            NaN    NaN   NaN   NaN  NaN    NaN     NaN
2015-10-08 15:00:00            NaN    NaN   NaN   NaN  NaN    NaN     NaN
2015-10-08 14:00:00            NaN    NaN   NaN   NaN  NaN    NaN     NaN
2015-10-08 13:00:00            NaN    NaN   0.0   NaN  0.0    NaN     NaN

[39465 rows x 7 columns]

In [30]:
df.index

Index(['2015-10-08 13:00:00', '2015-10-08 14:00:00', '2015-10-08 15:00:00',
       '2015-10-08 16:00:00', '2015-10-08 17:00:00', '2015-10-08 18:00:00',
       '2015-10-08 19:00:00', '2015-10-08 20:00:00', '2015-10-08 21:00:00',
       '2015-10-08 22:00:00',
       ...
       '2020-04-08 15:00:00', '2020-04-08 16:00:00', '2020-04-08 17:00:00',
       '2020-04-08 18:00:00', '2020-04-08 19:00:00', '2020-04-08 20:00:00',
       '2020-04-08 21:00:00', '2020-04-08 22:00:00', '2020-04-08 23:00:00',
       '2020-04-09 00:00:00'],
      dtype='object', name='Date', length=39465)

In [34]:
import pandas as pd
df = df.rename(index=lambda x: pd.to_datetime(x))
df

                        Open     High      Low    Close      Volume
Date
2015-10-08 13:00:00     0.00   245.00     0.00   245.00    0.606654
2015-10-08 14:00:00   245.00   245.00   244.50   245.00    4.453649
2015-10-08 15:00:00   245.00   245.00   244.92   244.92    3.016926
2015-10-08 16:00:00   244.92   244.92   244.25   244.25    3.895252
2015-10-08 17:00:00   244.25   244.99   244.02   244.99    3.920632
...                      ...      ...      ...      ...         ...
2020-04-08 20:00:00  7320.11  7375.72  7313.66  7327.70  153.655811
2020-04-08 21:00:00  7327.70  7370.00  7311.33  7337.19   35.551553
2020-04-08 22:00:00  7337.19  7390.25  7322.87  7367.28   88.486108
2020-04-08 23:00:00  7367.28  7398.92  7348.47  7369.60   66.558293
2020-04-09 00:00:00  7369.60  7369.60  7338.23  7338.23    7.788915

[39465 rows x 5 columns]

In [35]:
df.index

DatetimeIndex(['2015-10-08 13:00:00', '2015-10-08 14:00:00',
               '2015-10-08 15:00:00', '2015-10-08 16:00:00',
               '2015-10-08 17:00:00', '2015-10-08 18:00:00',
               '2015-10-08 19:00:00', '2015-10-08 20:00:00',
               '2015-10-08 21:00:00', '2015-10-08 22:00:00',
               ...
               '2020-04-08 15:00:00', '2020-04-08 16:00:00',
               '2020-04-08 17:00:00', '2020-04-08 18:00:00',
               '2020-04-08 19:00:00', '2020-04-08 20:00:00',
               '2020-04-08 21:00:00', '2020-04-08 22:00:00',
               '2020-04-08 23:00:00', '2020-04-09 00:00:00'],
              dtype='datetime64[ns]', name='Date', length=39465, freq=None)